<h1>Citizen detail</h1>

<% if @citizen.ld_checked_in %>	
  <h2><p class="bg-success"><%= @citizen.firstname %> <%= @citizen.lastname %>: Checked in</p></h2>   									
<% else %>		
  <h2><p class="bg-danger"><%= @citizen.firstname %> <%= @citizen.lastname %>: Not Checked in</p></h2>    	
<% end %>   

<% if @citizen.ld_seated_alternate %>	
  <h3><p class="bg-success">Alternate Seated</p></h2>   									
<% else %>		
  <h3><p class="bg-danger">Alternate Not Seated</p></h2>     	
<% end %>   

<div>
  <strong>Gender:</strong>
  <%= @citizen.gender %>
</div>

<div>
  <strong>Candidate:</strong>
  <%= @citizen.candidate %>
</div>

<div>
  <strong>Precinct:</strong>
  <%= @citizen.precinct.name if @citizen.precinct %>
</div>

<div>
  <strong>LD Delegate:</strong>
  <%= @citizen.ld_delegate %>
</div>

<div>
  <strong>LD Alternate number:</strong>
  <%= @citizen.ld_alternate_number %>
</div>

<div>
  <strong>Seated LD Alternate:</strong>
  <%= @citizen.ld_seated_alternate %>
</div>

<div>
  <strong>Address:</strong> <br>
  <%= @citizen.address %> <br>
  <%= @citizen.city %> <br>
  <%= @citizen.zip %> <br>
  <%= @citizen.phone %> <br>
  <%= @citizen.email %> <br>
</div>


<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %>