<h1>New Precinct</h1>

<%= form_for :precinct, url: precincts_path do |f| %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field form-group">
    <%= f.label :"Legislative district" %><br>    
    <%= f.collection_select(:legislative_district_id, LegislativeDistrict.all, :id, :name) %>
  </div>
  
  <div class="field form-group">
    <%= f.label :congressionaldistrict %><br>    
    <%= f.collection_select(:congressional_district_id, CongressionalDistrict.all, :id, :name) %>
  </div>
 
  <div class="actions form-group">
    <%= f.submit %>
  </div>
  
<% end %>

<%= link_to 'Back', precincts_path %>