<h1>New congressional district</h1>

<%= form_for :congressionaldistrict, url: congressionaldistricts_path do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', congressionaldistricts_path %>