<h1>Listing precincts</h1>
 
<%= link_to 'New precinct', new_precinct_path %>
 
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>LegislativeDistrict</th>
      <th>Congressional District</th>
    </tr>
  
    <% @precincts.each do |precinct| %>
      <tr>
        <td><%= precinct.name %></td>
        <td><%= precinct.legislative_district.name if precinct.legislative_district %></td>
        <td><%= precinct.congressional_district.name if precinct.congressional_district %></td>
        <td><%= link_to 'Show', precinct_path(precinct) %></td>
        <td><%= link_to 'Edit', edit_precinct_path(precinct) %></td>    
        <td><%= link_to 'Destroy', precinct_path(precinct),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>  
      </tr>
    <% end %>
  </table>
</div>