<h1>New Citizen</h1>

<%= form_for :citizen, url: citizens_path do |f| %>

  <% if @citizen.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@citizen.errors.count, "error") %> prohibited
        this citizen from being saved:
      </h2>
      <ul>
        <% @citizen.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :firstname %><br>    
    <%= f.text_field :firstname %>
  </div>
 
  <div class="field form-group">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
 
  <div class="field form-group">
    <%= f.label :candidate %><br>
    <%= f.text_field :candidate %>
  </div>
 
  <div class="field form-group">
    <%= f.label :precinct %><br>    
    <%= f.collection_select(:precinct_id, Precinct.all, :id, :name) %>
  </div>
  
  <div class="field form-group">
    <%= f.label :telephone %><br>
    <%= f.telephone_field :phone %>
  </div>
  
  <div class="field form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  
  <div class="field form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  
  <div class="field form-group">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  
  <div class="field form-group">
    <%= f.label :ld_delegate %><br>
    <%= f.check_box :ld_delegate %>
  </div>
  
  <div class="field form-group">
    <%= f.label :ld_alternate_number %><br>
    <%= f.number_field :ld_alternate_number %>
  </div>
 
  <div class="field form-group">
    <%= f.label :ld_checked_in %><br>
    <%= f.check_box :ld_checked_in %>
  </div> 
  
  <div class="field form-group">
    <%= f.label :ld_seated_alternate %><br>
    <%= f.check_box :ld_seated_alternate %>
  </div>
 
  <div class="actions form-group">
    <%= f.submit %>
  </div>
  
<% end %>

<%= link_to 'Back', citizens_path %>