<h1>Citizen<h1>

<p>
  <strong>FirstName:</strong>
  <%= @citizen.firstname %>
</p>
 
 <p>
  <strong>LastName:</strong>
  <%= @citizen.lastname %>
</p>
 
<p>
  <strong>Candidate:</strong>
  <%= @citizen.candidate %>
</p>

<p>
  <strong>Precinct:</strong>
  <%= @citizen.precinct_id %>
</p>

<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %>