<h1>New Legislative District</h1>

<%= form_for :legislativedistrict, url: legislativedistricts_path do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', legislativedistricts_path %>